
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- ... ---- */


body {
  font-family: 'Varela', sans-serif;
  color: white;
  background-color: #222;
}

.main-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("http://i.imgur.com/gG5KKQL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 4em;
}

.zulrah-title {
  font-family: 'Permanent Marker', cursive;
  padding-top: 10vh;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  color: white;
}

.read-instructions-btn {
  width: 15vh;
  height: 5vh;
  background-color: red;
  border: none;
  font-weight: 900;
  color: white;
  border-radius: 20px;
}

.start-game-btn, .restart-game-btn {
  width: 15vh;
  height: 5vh;
  background-color: green;
  border: none;
  font-weight: 900;
  color: white;
  border-radius: 20px;
}
  
.death {
  color:silver;
  text-shadow:
  4px 4px 1px #300000,
  4px 6px 1px #400000,
  4px 8px 1px #500000,
  4px 10px 1px #600000,
  4px 12px 1px #700000,
  4px 14px 1px #800000,
  4px 16px 1px #900000,
  4px 18px 1px #A00000,
  4px 20px 1px #B00000,
  4px 22px 1px #C00000,
  4px 24px 1px #D00000,
  4px 26px 1px #E00000,
  4px 28px 1px #F00000,
  4px 30px 1px #FA0000,
  4px 32px 1px #FB0000,
  4px 34px 1px #FC0000,
  4px 36px 1px #FD0000,
  4px 38px 1px #FE0000,
  4px 40px 2px #FF0000;
}


@media only screen and (max-width: 600px) {
  .zulrah-title {
    font-size: 26px;
    padding-top: 50%;
  }
}


@media only screen and (max-width: 600px) {
  .death {
    font-size: 22px;
  }
} 

canvas {
  background-image: url("https://i.imgur.com/mUQE18w.jpg");
  background-repeat: no-repeat;
  background-size: 1216px;
}

.game-screen {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}
