
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- ... ---- */


body {
  font-family: 'Varela', sans-serif;
  color: white;
  background-color: #222;
}

.main-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("http://i.imgur.com/gG5KKQL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 4em;
}

.zulrah-title {
  font-family: 'Permanent Marker', cursive;
  padding-top: 10vh;
  color: #B43104;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  margin: 0 auto;
  color: white;
}

.read-instructions-btn {
  width: 15vh;
  height: 5vh;
  background-color: red;
  border: none;
  font-weight: 900;
  color: white;
  border-radius: 20px;
}

.start-game-btn, .restart-game-btn {
  width: 15vh;
  height: 5vh;
  background-color: green;
  border: none;
  font-weight: 900;
  color: white;
  border-radius: 20px;
}
  
.death {
  color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; 
}


@media only screen and (max-width: 600px) {
  .zulrah-title {
    font-size: 26px;
    padding-top: 50%;
  }
}


@media only screen and (max-width: 600px) {
  .death {
    font-size: 22px;
  }
} 

canvas {
  
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 1216px; */
  
  
}

.game-screen {
  display: flex;
  justify-content: center;
  align-content: center;

  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/75/90/18/759018a87cf46c3646564b7f604cb58c.jpg");
  background-size: cover;
  
  
}

#beer {
  height: 80px;
  display: none;
}


#points {
  text-align: center;

}

#zulrah-icon {
  height: 80px;
  display: none;
  
}